.containerPrincipal {
    display: grid;
    grid-template-columns: auto auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

img {
    width: 200px;
}